table, th, td{
    border: 2px solid black;
    text-align: center;
}

table{
    background-color: gainsboro;
}

td, th{
    text-align: center;
    width: 19%;
}

.hora{
    width: 5%;
    background-color: gainsboro;
}

.assignatura{
    height: 55px;
}

.cabecera{
    background-color: gainsboro;
}

.programacio{
    background-color: blue;
}

.bbdd{
    background-color: yellow;
}

.marques{
    background-color: green;
}

.pati{
    background-color: orange;
}

.fol{
    background-color: purple;
}

.sistemes{
    background-color: rgb(0, 191, 255)
}

.entorns{
    background-color: rgb(255, 75, 105);
}