/* Exercici 1 - GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Piedra&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Exercici 2 - LOGO */


/* Exercici 4 - MENÚ */


/* Exercici 5 - SIDEBAR */


/* Exercici 6 - CONTAINER */


/* Exercici 7 - INFINITE DOG */


/* Exercici 3 - LAYOUT RESPONSIVE */

