/* Exercici 1 - GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Piedra&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    background-color: #485460;
    width: 100%;
    font-family: 'Sriracha';
}

/* Exercici 2 - LOGO */
header div h1.col-12 {
    font-family: 'Piedra';
    color: #d50000;
    text-shadow: 10px 20px 30px white;
    text-align: right;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: line-through;
    font-size: 5em;
    letter-spacing: 0.5em;
}

/* Exercici 3 - LAYOUT RESPONSIVE*/

@media only screen and (max-width: 679px) {
    .col-1 {float: left; width: 100%;}
    .col-2 {float: left; width: 100%;}
    .col-3 {float: left; width: 100%;}
    .col-4 {float: left; width: 100%;}
    .col-5 {float: left; width: 100%;}
    .col-6 {float: left; width: 100%;}
    .col-7 {float: left; width: 100%;}
    .col-8 {float: left; width: 100%;}
    .col-9 {float: left; width: 100%;}
    .col-10 {float: left; width: 100%;}
    .col-11 {float: left; width: 100%;}
    .col-12 {float: left; width: 100%;}
}

@media only screen and (min-width: 680px) {
    .col-1 {float: left; width: 8.33%;}
    .col-2 {float: left; width: 16.66%;}
    .col-3 {float: left; width: 25%;}
    .col-4 {float: left; width: 33.33%;}
    .col-5 {float: left; width: 41.66%;}
    .col-6 {float: left; width: 50%;}
    .col-7 {float: left; width: 58.33%;}
    .col-8 {float: left; width: 66.66%;}
    .col-9 {float: left; width: 75%;}
    .col-10 {float: left; width: 83.33%;}
    .col-11 {float: left; width: 91.66%;}
    .col-12 {float: left; width: 100%;}
}

/* Exercici 4 - MENÚ */
header div nav ul{
    position: relative;
    color: white;
    list-style: none;
    display: flex;
}

header div nav ul:first-child {
    background: radial-gradient(circle, white, rgb(121, 9, 9) 35%);
    padding-left: 10px;
}

header div nav ul a {
    font-size: 1.2em;
    color: white;
}

header div nav ul li {
    padding: 5px;
}

header div nav ul li:hover {
    background-color: #ff5131;
    cursor: pointer;
}

header div nav ul ul {
    display: none;
    position: absolute;
    top: 28px;
    background-color: rgb(121, 9, 9);
}

header div nav ul li:hover > ul {
    display: block;
}
/* Exercici 5 - SIDEBAR */
main aside {
    background-color: rgb(121, 9, 9);
    padding: 30px;
}

main aside section {
    border: dashed 5px #7f8c8d;
    margin-bottom: 20px;
}

#container>div:first-child {
    padding: 30px;
    background-color: rgb(121, 9, 9);
    display: grid;
    grid-template-areas: 
    "a b c"
    "a d d";
    height: 500px;
}

#container>div:first-child>.a {
    background-image: url(./../img/gallery/ca2.jpg);
    grid-area: a;
}

#container>div:first-child>.b {
    background-image: url(./../img/gallery/ca3.jpg);
    grid-area: b;
}

#container>div:first-child>.c {
    background-image: url(./../img/gallery/ca4.jpg);
    grid-area: c;
}

#container>div:first-child>.d {
    background-image: url(./../img/gallery/ca5.jpg);
    grid-area: d;
}

/* Exercici 6 - CONTAINER */
#gallery {
    background-color: #9b0000;
    padding: 20px 40px 20px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#gallery article {
    width: 50%;
    animation-name: anim1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    filter: grayscale(100%); 
}

#gallery article h3 {
    display: none;
}   

#gallery article img {
    object-fit: cover;
    height: 90%;
    width: 100%
}

@keyframes anim1 {
    100% {transform: rotateY(360deg)}
}

/* Exercici 7 - INFINITE DOG */

#animation {
    background-image: url(./../img/animation/long-dachshund-dog-cartoon-vector-1116614.jpg);
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
}

#animation:hover {
    animation-name: anim1;
    animation-duration: 5s;
}